{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {jsx, "3.1.0"},
    {erlydtl, "0.14.0"},
    {uuid, "2.0.5", {pkg, uuid_erl}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [chatter]}
]}.

{profiles, [
    {test, [
        {deps, [
            {gun, "2.0.0"}
        ]}
    ]}
]}.

{ct_opts, [
    {ct_hooks, [chatter_cth]}
]}.